body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

span {
  font-family: "Noto Sans Thai", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: black;
}

p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e63946;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: black;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#result {
  margin-top: 30px;
  background-color: #f1faee;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  border: 2px solid #1d3557;
}

.hidden {
  display: none;
}

.boxheader{
  width: 100%;
  height: 100px;
  background-color: #457b9d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
}


.boxheader h2{
  color: white;
}
